---
on:
  pull_request:
    branches:
      - main
name: Test
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04]
        go: ["1.25", "1.24"]
    name: Test on go ${{ matrix.go }} and ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
      - run: go test
